<h2>Степени</h2>
<%= error_messages_for 'grade'-%>
Добавить степень :
<%= form_tag :action => 'create'%>
<%= text_field  :grade, :grade_name %>
<%= submit_tag "Добавить" %>

<%= link_to 'К списку', :action => :list %>
