<h1> Новая запись </h1>
<%= error_messages_for 'theme' -%>

<% form_for :theme,@theme, :url => {:action => 'create'},:html => { :multipart => true}  do |f| %>

<p><label for="theme_name">Название работы</label><br/>
<%= f.text_field  :theme_name, {:size => 100}  %></p>

<p><label for="theme_fio">Автор</label><br/>
<%= f.text_field  :fio, {:size => 50} %></p>

<p><label for="theme_year_name">Год</label><br/>
<%= select(:theme, :year_name, @years )%></p>

<p><label for="organization_organization_name">Организация</label><br />
<%= collection_select(:theme, :organization_id, @organizations, :id, :organization_name)%></p>



<p><label for="profession_profession_name">Специальность</label><br/></p>
<%= collection_select(:theme, :profession_id, @professions, :id, :profession_name,
			{:include_blank => true},
			{:onchange => "#{remote_function(:url => {:action => "update_grades"},
			:with => "'profession_id='+value")}"})%>

<p><label for="area_name[]">Область</label><br/>
<div id="areas"><%= render :partial => 'areas', :object => @areas %> </div>

<p><label for="subarea_name[]">Подобласть</label><br/>
<div id="subareas"><%= render :partial => 'subareas', :object => @subareas %></div>

<p><label for="grade_grade_name">Степень</label><br/></p>
<div id="grades"><%= render :partial => 'grades', :object => @grades %></div>


<p><label for="theme_text_abstract"><b>Текст автореферата</b></label><br/>
<%= f.text_area :text_abstract, {:size =>"80x30"} %>

<p><label for="theme_text_dissertation">Текст диссертации</label><br/>
<%= f.text_area  :text_dissertation, {:size =>"80x30"} %>


<%# fields_for :theme,@theme, :html => { :multipart => true} do |form| %>
 <p><label for="avtoref_file">Файлы автореферата</label><br />
	Doc <%= f.file_field :avtoref_doc %> <br />
	Pdf  <%= f.file_field :avtoref_pdf %><br />
 <p><label for="disser_file">Файлы диссертации</label><br />
	Doc <%= f.file_field :disser_doc %><br />
	Pdf  <%= f.file_field :disser_pdf %><br />

<%= submit_tag "Добавить" %>
<% end %>
<%# end %>
<%= link_to 'Назад', {:action => 'list'} %>

