<h2>Области</h2>
<%= error_messages_for 'area'-%>
Добавить область :
<%= form_tag :action => 'create'%>
<%= text_field  :area, :area_name %>

<%= submit_tag "Добавить" %>

<%= link_to 'К списку', :action => :list %>
